.container {
    padding: 2rem 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    &-left,
    &-right {
        display: flex;
        flex-direction: column;
    }

    &-left {
        width: 60%;
        gap: 1rem;
    }

    &-right {
        width: 35%;
        font: var(--mat-sys-headline-small);
        gap: 2rem;
        &-heading {
            margin: 0;
            font: var(--mat-sys-display-medium);
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        &-left,
        &-right {
            width: 100%;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;

    &-text {
        font: var(--mat-sys-display-large);
    }
}